@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}

body {
  color: black;
}
/* header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 20px 30px;
  height: 100px;
}
/* nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
nav .display-5 {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-family: 'Libre Baskerville';
}
.navbar-nav .nav-link {
  font-size: 20px;
  font-weight: 700;
}
.navbar-nav .nav-link.active {
  padding: 10px;
  border-bottom:  5px solid black;
}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: black;
}

#home {
  text-align: left;
  font-family: 'Libre Baskerville';
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.see-more-btn {
  text-decoration: none;
  color: #333;;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  width: 240px;
  font-family: 'Karla', 'Times New Roman', Times, serif;
}
.see-more-btn:hover {
  font-weight: 900;
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
}

.see-more-btn > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.see-more-btn:hover svg {
  transform: translateX(5px);
}

.display-4 {
  font-family: 'Libre Baskerville';
  font-weight: 800;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes colorShift {
  0% {
    color: #0c0b0b;
  }
  50% {
    color: #293a29;
  }
  100% {
    color: #000000;
  }
}

#about .display-4, #projects .display-4, #contact .display-4 {
  animation: slideInFromLeft 2s linear, colorShift 10s linear infinite;
}

#home h5, #home h4, a {
  font-family: 'Karla', 'Times New Roman', Times, serif;
}
.socials-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px;
  margin: 10px 0;
}
.socials-link a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: transform 0.3s ease; /* Smooth transition */
}

.socials-link a:hover {
  transform: scale(1.2);
  color: #080808;
}

#about {
  text-align: left;
  font-family: 'Libre Baskerville';
  padding: 40px;
}
#about .content, #projects .content {
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: justify;
  animation: slideInFromLeft 2s linear;
}
#about .techstacks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 80px;
}
#contact .content {
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: justify;
  animation: slideInFromLeft 2s linear;
}

.contact-information {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0 auto;
}
.contact-information a {
  color: black;
  text-decoration: none;
  align-items: center;
}
.contact-information a:hover {
  text-decoration: underline;
  font-weight: 700;
}

.card {
  height: 380px;
  position: relative;
  overflow: hidden;
}

.card > img {
  width: 100%;
  object-fit: cover;
}
.card-body {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  text-align: justify;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card:hover .card-body {
  opacity: 1; /* Show content when card is hovered */
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 50px 50px;
  background-color: black;
}

.socials-container, .socials-container a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  max-width: 200px;
  margin: 10px 0;
  color: white;
}
.socials-container a:hover {
  scale: 1.2;
}