@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
}
body.dark-mode {
  background-color: #1A1A1A;
  color: #F5F5F5;
}

body.dark-mode .navbar {
  background-color: #1A1A1A;
}

body.dark-mode .navbar-nav .nav-link, body.dark-mode .display-6, body.dark-mode nav .navbar-toggler, body.dark-mode .contact-information a, body.dark-mode .socials-link a {
  color: white;
}

nav {
  background-color: white;
  padding: 20px 30px;
  height: 100px;
}
nav .display-6 {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-family: 'Libre Baskerville';
}
.navbar-nav {
  margin-top: 40px;
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-weight: 400;
}
.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 20px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
 text-decoration: underline;
 text-transform: capitalize;
 font-weight: 600;
}

.navbar-nav .nav-item .nav-link:active {
  color: #00000000;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}
nav .navbar-toggler {
  position: relative;
  z-index: 1000;
  color: black;
}
.navbar-toggler.toggled, .theme-icon.toggled {
  color: white;
  margin-top: 20px;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 20px;
}
.navbar-collapse {
  width: 20%;
  background-color: black;
  position: absolute;
  right: 100px;
  top: 30px;
  padding: 20px;
  transition: background-color 0.3s ease;
}
.theme-icon {
  outline: none;
  background: none;
  border: none;
}
#home {
  text-align: left;
  font-family: 'Libre Baskerville';
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.about-btn, .get-resume-btn {
  text-decoration: none;
  background-color: black;
  padding: 15px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Karla', 'Times New Roman', Times, serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.about-btn:hover, .get-resume-btn:hover {
  background-color: #1A1A1A;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.about-btn:active, .get-resume-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body.dark-mode .about-btn, body.dark-mode .get-resume-btn {
  background-color: #ffffff;
  color: black;
}

.display-4 {
  font-family: 'Libre Baskerville';
  font-weight: 800;
}


#home h5, #home h4, a {
  font-family: 'Karla', 'Times New Roman', Times, serif;
}
.socials-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px;
  margin: 10px 0;
}
.socials-link a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: transform 0.3s ease;
}

.socials-link a:hover {
  transform: scale(1.2);
  color: #080808;
}

#about {
  text-align: left;
  font-family: 'Libre Baskerville';
  padding: 40px;
}
#about .content, #projects .content {
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: justify;
  animation: slideInFromLeft 2s linear;
}
#about .techstacks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 80px;
}
#contact .content {
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: justify;
  animation: slideInFromLeft 2s linear;
}

.contact-information {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0 auto;
}
.contact-information a {
  color: black;
  text-decoration: none;
  align-items: center;
}
.contact-information a:hover {
  text-decoration: underline;
  font-weight: 700;
}

.card {
  height: 380px;
  position: relative;
  overflow: hidden;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.card > img {
  width: 100%;
  object-fit: cover;
}
.card-body {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
.card:hover .card-body {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 50px 50px;
  background-color: black;
}

.socials-container, .socials-container a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  max-width: 200px;
  margin: 10px 0;
  color: white;
}
.socials-container a:hover {
  scale: 1.2;
}